
<h2>Crear Partida</h2>
<form class="formulario">
  <div class="fila">
    <input type="text" placeholder="Partida">
    <input type="text" placeholder="Origen de café">
    <input type="number" placeholder="Bache" value="1">
  </div>

  <div class="fila">
    <select>
      <option disabled selected>Producto de Café</option>
      <option>Cafe maduro</option>
      <option>Café oro</option>
      <option>Café pergamino</option>
    </select>

    <select>
      <option disabled selected>Tipo de proceso</option>
      <option>Lavado</option>
      <option>Natural</option>
    </select>
  </div>

  <div class="fila">
    <input type="text" placeholder="Responsable">
  </div>

  <div class="botones">
    <button class="btn azul" type="submit">GRABAR</button>
    <button class="btn rojo" type="reset">LIMPIAR</button>
  </div>
</form>
